body {
  color: var(--textNormal);
  --bg: #ffffff;
  --textNormal: rgb(0, 0, 0);
  --textTitle: #000000;
  --textLink: #18293a;
  --hr: hsla(0, 0%, 0%, 0.2);
  --selectionColor: #c7f5ff;
  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #18293a;
  --textNormal: #dbdbdb;
  --textTitle: white;
  --textLink: yellow;
  --hr: hsla(0, 0%, 100%, 0.2);
  --selectionColor: #bb8a00;
}

.dark-switcher {
  color: #fff;
  margin-top: 5px;
  background: #25caef;
  /*   background: transparent; */
  /* background: #18293a; */
  border: none;
  cursor: pointer;
}

@media (min-width: 992px) {
  .dark-switcher {
    position: absolute;
    right: 15px;
    top: 10px;
  }
}

::selection {
  background-color: var(--selectionColor);
}

::selection.dark {
  --selectionColor: #bb8a00;
}

a {
  color: var(--textLink);
}

a.dark {
  --textLink: #ffe426;
}

h1,
h2 {
  /*  color: #25caef; */
}

#mainTitle {
  color: #25caef;
}
