body {
  color: var(--textNormal);
  --bg: #ffffff;
  --textNormal: rgb(0, 0, 0);
  --textTitle: #000000;
  --textLink: #18293a;
  --hr: hsla(0, 0%, 0%, 0.726);
  --selectionColor: #c7f5ff;
  --mainTitle: #18293a;
  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #18293a;
  --textNormal: #dbdbdb;
  --textTitle: white;
  --textLink: yellow;
  --hr: #dbdbdbe1;
  --mainTitle: #dbdbdb;
  --selectionColor: #bb8a00;
}

ul,
ol {
  border-left: 15px;
  margin: 1.5em 35px;
}
blockquote {
  border-left: 5px solid #dbdbdb;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: var(--hr);
}

blockquote.dark {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  --blockText: #dbdbdb;
}

.dark-switcher {
  color: #fff;
  margin-top: 5px;
  background: var(--mainTitle);
  color: var(--bg);
  /*   background: transparent; */
  /* background: #18293a; */
  border: none;
  cursor: pointer;
}

@media (min-width: 992px) {
  .dark-switcher {
    position: absolute;
    right: 15px;
    top: 10px;
  }
}

::selection {
  background-color: var(--selectionColor);
}

::selection.dark {
  --selectionColor: #bb8a00;
}

a {
  color: var(--textLink);
}

a.dark {
  --textLink: #ffe426;
}

#mainTitle {
  color: var(--mainTitle);
}
